# Lecture II: Basics of Python II

October 6, 2025

*partially generated with OpenAI DALL-E3 by Jan in SS 2024*

## Questions first

- Do you have any problem with running python + jupyter (vscode)?
- Everyone has github account?

- Just to check, next Monday is the deadline of the first HW.
    - Create a [LeetCode](leetcode.com) account using your faculty e-mail
    - Solve of any of the **Easy** [problems](https://leetcode.com/problemset/)
    - **Do not use** AI to generate your solutions. Firstly, it will defy the purpose of the homeworks. Secondly, you could be penalised as per academic integrity.
    - Submit your solution via Google Forms
    - Complete instructions will be sent via e-mail tonight

## Recap from the last week

What data types do you remember from last lecture?

- Shout any buzz word you remember

## Docs

https://docs.python.org/3/tutorial/index.html

https://docs.python.org/3/tutorial/datastructures.html

### Problems/errors:

1) Google it
2) Stackoverflow.com
3) Google again :)

## Lists

In [3]:
my_list = [0, 1, 2, 3, 4, 5] # collection of items

In [4]:
print(my_list)

[0, 1, 2, 3, 4, 5]

- can save integers, strings, functions, anything

In [5]:
a = [0,'a',lambda x: x+1] # very versatile

In [ ]:
my_list

In [8]:
my_list1 = [i + 1 for i in my_list]
my_list1

[1, 2, 3, 4, 5, 6]

In [12]:
# general concept of iterables 

my_list[0:5:2] #how to look into object

[0, 2, 4]

In [13]:
# Iteration - very important concept! 
for item in my_list:
    print(item)

0
1
2
3
4
5

Iteration with indexing elements:

In [14]:
for idx, item in enumerate([1,2,43,4,5,3,1]):
    print(f"index {idx} in my_list contains value {item}")

index 0 in my_list contains value 1
index 1 in my_list contains value 2
index 2 in my_list contains value 43
index 3 in my_list contains value 4
index 4 in my_list contains value 5
index 5 in my_list contains value 3
index 6 in my_list contains value 1

Unwrapping a string to a list of characters

In [18]:
str = list('hello')

Access elements in a list

In [19]:
# print(my_list)
str[0:len(my_list):2] # start:end:step

['h', 'l', 'o']

In [25]:
my_list[0:-1:]

[0, 1, 2, 3, 4]

In [26]:
len(my_list)

6

In [27]:
my_list[::-1] # get every other item

[5, 4, 3, 2, 1, 0]

In [28]:
reversed_list = my_list[::-1]
reversed_list

[5, 4, 3, 2, 1, 0]

### List comprehension

In [ ]:
list(range(5))

In [29]:
# Creating a list of squared numbers
squares = [x**2 for x in range(5)] # list comprehension (pythonic term)

In [30]:
print(squares)

[0, 1, 4, 9, 16]

In [32]:
# Creating a flat list from a matrix (2d array-> array of array)
matrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [33]:
print(matrix)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [34]:
flat_list = [element for row in matrix for element in row] #two-for loops in one comprehension
print(flat_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [31]:
# Creating a list of even numbers
evens = [x**2 for x in range(10) if x % 2 == 0] #comprehension with conditions
evens

[0, 4, 16, 36, 64]

In [44]:
# python built-in filter
# DIY! Try to look up how to filter values in Python array (list)! Let's filter even values of flat_list using function filter()
filtered_data = filter(lambda number: number % 2 == 0, squares)

In [45]:
[i for i in filtered_data]

[0, 4, 16]

In [50]:
# Using append and extend
my_list = [1, 2, 3]

In [51]:
my_list.append(4)  # [1, 2, 3, 4]
print(my_list)

[1, 2, 3, 4]

In [52]:
my_list.extend([5, 6, 6, 5])  # [1, 2, 3, 4, 5, 6]

In [53]:
my_list

[1, 2, 3, 4, 5, 6, 6, 5]

In [54]:
# Removing from list
my_list.remove(5) 
my_list

[1, 2, 3, 4, 6, 6, 5]

In [57]:
# Remove the first item from the list whose value is equal to x. It raises a ValueError if there is no such item.
my_list.remove(5)

ValueError: list.remove(x): x not in list

In [56]:
my_list

[1, 2, 3, 4, 6, 6]

In [60]:
popped = my_list.pop()

In [61]:
my_list

[1, 2, 3, 4]

In [62]:
my_list.pop(1)

2

In [63]:
my_list

[1, 3, 4]

In [33]:
# Remove the item at the given position in the list, and return it. If no index is specified, a.pop() removes and returns the last item in the list. It raises an IndexError if the list is empty or the index is outside the list range.

In [64]:
print(my_list)
popped

[1, 3, 4]

6

In [35]:
# There are operations which change the item itself, some return a new object -> more on that later

### Basic operations on arrays

In [65]:
# Basic operations on arrays
my_list = range(7)
print(my_list)

range(0, 7)

In [66]:
# Using sum, min, max, and len
print(sum(my_list))  # 21
print(min(my_list))  # 0
print(max(my_list))  # 6
print(len(my_list))  # 7

21
0
6
7

In [67]:
# Merge lists
list_a = [1, 2, 3]
list_b = [4, 5, 6]

In [68]:
[*list_a, *list_b] # unpacking operator

[1, 2, 3, 4, 5, 6]

In [69]:
list_a + list_b # same as above

[1, 2, 3, 4, 5, 6]

In [70]:
# how does this differ?
list_a.extend(list_b) # modifies list_a

In [71]:
list_a

[1, 2, 3, 4, 5, 6]

In [72]:
# Creating a list of all coordinates within a 3x3 grid - list comprehension
coordinates = [(x, y) for x in range(3) for y in range(1, 4)]
coordinates

[(0, 1), (0, 2), (0, 3), (1, 1), (1, 2), (1, 3), (2, 1), (2, 2), (2, 3)]

In [79]:
# Transposing a matrix using nested list comprehension - two for loops in one comprehension
matrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9], [7, 8, 9]]
transposed = [[row[i] for row in matrix] for i in range(3)]
transposed

[[1, 4, 7, 7], [2, 5, 8, 8], [3, 6, 9, 9]]

In [77]:
type(coordinates)

list

In [80]:
# Size of matrix
rows = len(matrix)
cols = len(matrix[0])
print(rows, cols)

4 3

In [81]:
# Repeating lists
my_list=[1,2]
repeated = my_list * 10  # [1, 2, 1, 2]
repeated
# len(repeated)

[1, 2, 1, 2, 1, 2, 1, 2, 1, 2, 1, 2, 1, 2, 1, 2, 1, 2, 1, 2]

## Iterating Backward

In [83]:
# Iterating backward through a list
[item for item in reversed(my_list)]

[2, 1]

In [84]:
my_list[::-1]

[2, 1]

In [ ]:
my_str = 'Pythonic' #strings are also collections of single charactes

# Iterating backward through a string
[char for char in reversed(my_str)]

## Using Negative Indices

In [ ]:
my_list

In [ ]:
last_element = my_list[-1]
last_element

In [ ]:
subset = my_list[-3:-1]
subset

In [ ]:
my_list = my_list * 3
my_list

## Strings and Slicing

In [85]:
my_str = "Pythonic"
substring = my_str[1:4]
substring

'yth'

In [86]:
skipped_string = my_str[::2]
skipped_string

'Ptoi'

In [87]:
reversed_string = my_str[::-1]
reversed_string

'cinohtyP'

**f-strings - most efficient to initialize**

In [88]:
f'my string is {my_str}'

'my string is Pythonic'

In [89]:
f'my string is {my_str+ ", no kidding!"}' # notice the "" in f string

'my string is Pythonic, no kidding!'

In [92]:
# Example: Converting, replacing, and formatting strings
original = "Python is fun"
formatted = original.upper().replace("fun", "fantastic")
final = f"{formatted}!"
final

'Python is fantastic!'

In [95]:
f"Pi is {22/7:.16f}" # rounding floats in strings

'Pi is 3.1428571428571428'

In [96]:
len("Python") # number of characters

6

In [ ]:
my_str

In [97]:
# You can change an element of a list
my_arr = list(range(10))
my_arr[3] = 'hi'
my_arr

[0, 1, 2, 'hi', 4, 5, 6, 7, 8, 9]

In [98]:
my_str[2] = 'Z' #immutable

TypeError: 'str' object does not support item assignment

In [65]:
# TypeError: 'str' object does not support item assignment is called Exception
# more on these later

Printing strings

In [99]:
quote = "xx"

In [100]:
escaped = "This is a " +quote +"."

In [101]:
print(escaped)

This is a xx.

In [104]:
escaped = "This is a \"quote\"."
newline = "This is a line.\nAnd this is another.\nAnd another one.\nOr more lines"
print(escaped)
print('------')
print(newline)

This is a "quote".
------
This is a line.
And this is another.
And another one.
Or more lines

In [105]:
"This is a snowman: \u2603"

'This is a snowman: ☃'

In [108]:
multiline = """This is a
multiline string."""
print(multiline) # the end of line is implicit, compared to \n

This is a
multiline string.

In [109]:
# Create a simple csv string
csv = "1,2,3,4,5"

In [109]:
# Create simple csv
to_csv = ('list_me_to_csv') 
print(','.join(to_csv)+"\n")# add line break - bonus -> how to write it to file end of lecture

l,i,s,t,_,m,e,_,t,o,_,c,s,v

In [110]:
print('\u2603'.join(['item1','item2','item3']))

item1☃item2☃item3

In [112]:
# create manual csv file with integers
','.join([str(el) for el in list(range(3))]) # items to be joined need to be stringsf

TypeError: 'list' object is not callable

In [114]:
[str(el) for el in range(3)]

TypeError: 'list' object is not callable

## Dictionaries

In [75]:
# very useful containers -> quick O(1) access to their values

In [115]:
my_dict = {'a': 1, 'b': 2, 'c': 3}
for key, value in my_dict.items():
    print(key, value)

a 1
b 2
c 3

In [116]:
# Creating and accessing elements
print(my_dict['a'])  # Output: 1

1

In [119]:
squares = {x: x**2 for x in range(5)}
squares
# What is a problem?

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [118]:
squares['key']='hi'
squares

{'key': 'hi'}

In [ ]:
even_squares = {x: x**2 for x in range(5) if x % 2 == 0}
even_squares

In [120]:
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'b': 4}
merged = {**dict1, **dict2}
merged

{'a': 1, 'b': 4, 'c': 3}

In [121]:
dict1 | dict2 # shorthand for before - fancy syntax! (union, logical or)...look up if interested

{'a': 1, 'b': 4, 'c': 3}

In [ ]:
my_dict

In [ ]:
# Using dictionary comprehension - notice similar behavior like array
squared_dict = {k: v**2 for k, v in my_dict.items()}
squared_dict

dir(my_dict)

In [122]:
# Iterating through keys and values
for key, value in my_dict.items():
    print(f"{key}: {value}")

a: 1
b: 2
c: 3

In [125]:
for key in my_dict.values():
    print(key)

1
2
3

In [130]:
# Accessing

# my_dict.get('a')
# my_dict['d']
my_dict.get('d', 'NO')

'NO'

In [ ]:
# Iterating through keys, values, and items individually
my_dict = {'a': 1, 'b': 2, 'c': 3}

for key in my_dict.keys():
    print(key)

for value in my_dict.values():
    print(value)

for key, value in my_dict.items():
    print(key, value)

# best is last one, always can omit value

In [ ]:
my_dict

In [135]:
# Using get, pop, and update
# value = my_dict.get('a', 0)  # Get value with a default
# my_dict.pop('b', 0)  # Remove item, default if not found
my_dict.update({'d': 4, 'e': 6})  # Add multiple key-value pairs

In [ ]:
my_dict.pop('b', 0)  # Output: 0

In [136]:
my_dict

{'a': 1, 'c': 3, 'd': 4, 'e': 6}

## Sets

In [119]:
x = {1, 2, 3}

In [ ]:
my_set = x
my_set.add(4)
my_set

In [ ]:
another_set = {3, 4, 5}
union_set = my_set.union(another_set)
intersection_set = my_set.intersection(another_set)
difference_set = my_set.difference(another_set)
union_set, intersection_set, difference_set

# useful with strings, Getting subsets of some collections

In [ ]:
# Using set comprehension
squared_set = {x**2 for x in my_set}
squared_set

## Tuples

In [ ]:
my_tuple = (1, "apple", 3.14)
element = my_tuple[1]
element

In [ ]:
x, y, z = my_tuple # Get individual values easily (same in .items() in dictionaries
x, y, z

In [ ]:
nested_data = {
    'fruit': {'apple': 3, 'banana': 5},
    'vegetable': {'carrot': 4, 'pepper': 7}
}

for key, value in nested_data.items():
    print(f"{key}:")
    for inner_key, inner_value in value.items():
        print(f"  {inner_key}: {inner_value}")

## Defaultdict

In [ ]:
from collections import defaultdict # import library, top of the script!!

fruits = ['apple', 'banana', 'cherry', 'apple', 'apple','cherry'] #could how many of each we have
fruit_counts = defaultdict(int)
fruit_counts

In [ ]:
for fruit in fruits:
    fruit_counts[fruit] += 1
fruit_counts

In [16]:
# Using list as a default factory - too sophisticated, but why not
words = ["apple", "banana", "cherry", "apple", "banana"]
word_count = defaultdict(list)

for word in words:
    word_count[word].append(1)

In [ ]:
word_count

In [ ]:
# Summing counts
word_sum = {word: sum(counts) for word, counts in word_count.items()}
word_sum

In [19]:
# Useful when we do not know how many items we will get (keys in dict)

# Using int as a default factory
word_count = defaultdict(int)

for word in words:
    word_count[word] += 1

In [ ]:
word_count

In [21]:
# Sample data: (category, item)
data = [
    ("fruit", "apple"),
    ("fruit", "banana"),
    ("fruit", "apple"),
    ("veggie", "carrot"),
    ("veggie", "potato"),
    ("veggie", "carrot"),
    ("veggie", "potato"),
    ("veggie", "potato"),
    ("fruit", "banana"),
]

In [22]:
# A nested defaultdict to store counts
counter = defaultdict(lambda: defaultdict(int))

In [ ]:
counter

In [24]:
# Counting items in categories
for category, item in data:
    counter[category][item] += 1

In [ ]:
counter

In [ ]:
# Display counts
for category, items in counter.items():
    print(f"{category.capitalize()}s:")
    for item, count in items.items():
        print(f"  {item}: {count}")

## Functions in Python

Functions are foundational in Python for creating reusable, organized, and modular code. 
Modular code can be easily maintained

In [ ]:
# 1. Defining and Calling Functions
# Definition: Using the def keyword.
# Calling: Using the function name followed by parentheses.

def greet():
    print("Hello, World!")

greet()

In [ ]:
# 2. Parameters and Arguments
# Parameters: Variables listed inside the parentheses in the function definition.
# Arguments: Values sent to the function when it is called.

def greet(name):
    print(f"Hello, {name}!")

greet()

In [ ]:
# 3. Default Parameter Values
# Specify a default value for a parameter that will be used if the function is called without an argument for that parameter.

def greet(name="World"):
    print(f"Hello, {name}!")

greet()
greet("Python")

In [164]:
# 4. Return Values
# Using the return statement to let a function return a value.

def add(a, b):
    return a + b

result = add(3, 4)

In [ ]:
# 5. Variable Scope
# Understanding of local and global variable scope

def my_function():
    local_var = 10  # Local variable
    print(local_var)

global_var = 5  # Global variable - not a good practice, but nevertheless possible. Drawback of notebook structure in general.
my_function()
print(global_var)

In [ ]:
# 6. Positional vs. Keyword Arguments
# Positional arguments: Must be passed in the correct positional order.
# Keyword arguments: Passed by keyword and can be in any order.

def example_function(arg1, arg2):
    print(arg1, arg2)

example_function(1, 2)  # Positional
example_function(arg2=2, arg1=1)  # Keyword

In [ ]:
# 7. Arbitrary Argument Lists
# *args: For arbitrary number of positional arguments.
# **kwargs: For arbitrary number of keyword arguments.

def example_function(*args, **kwargs):
    print(args)  # Tuple
    print(kwargs)  # Dictionary

example_function(1, 2, 3, a=4, b=5)

In [ ]:
# 8. Lambda Functions
# Anonymous functions defined with the lambda keyword.

square = lambda x: x ** 2
print(square(4))

In [127]:
# 9. Docstrings
# Documentation strings providing a description of the function's purpose.

def greet():
    """
    This function prints a greeting.
    """
    print("Hello, World!")

In [ ]:
greet()

In [ ]:
# 10. Recursion - very important concept!

# Functions calling themselves to solve problems.
def factorial(n):
    return 1 if n == 0 else n * factorial(n-1)

print(factorial(3))

In [ ]:
# 11. First-Class Functions
# Functions in Python are first-class citizens, meaning they can be passed around and used as arguments.

def greet():
    return "Hello, World!"

def shout(func):
    print(func().upper()) #calling on some objects passed as input to function. Like trying 5(), but still possible.

shout(greet)

In [ ]:
# 12. Decorators 

# Functions that modify the behavior of other functions.

def my_decorator(func):
    def wrapper():
        print("Something is happening before the function is called.")
        func()
        print(f"Something is happening after the function '{func.__name__}' is called.")
    return wrapper

@my_decorator
def greet():
    print("Hello, World! - inside greet")

greet()

## Input/Output (I/O) Operations in Python

In [132]:
# Handling I/O operations effectively is crucial for various applications. 

# 1. Basic File I/O
# Reading and Writing Text Files

In [133]:
# Open file and return a corresponding file object.
# file = open("file.txt", "r")
# permission: 'r' for reading, 'w' for writing, 'a' for appending, 'r+' for reading and writing.

In [178]:
# Writing to a file
with open('example.txt', 'w') as file:
    file.write("Hello, Python")

In [ ]:
# Reading from a file
with open('example.txt', 'r') as file:
    content = file.read()
    print(content)

In [ ]:
# Reading file line by line
with open('example.txt', 'r') as file:
    for line in file:
        print(line)

"The so-called CSV (Comma Separated Values) format is the most common import and export format for spreadsheets and databases."

In [10]:
import csv

data = [["Name", "Age"], ["Alice", 30], ["Bob", 28]]

# Writing to a CSV file
with open('people.csv', 'w', newline='') as file:
    writer = csv.writer(file)
    writer.writerows(data)

In [ ]:
# Reading from a CSV file
with open('people.csv', 'r') as file:
    reader = csv.reader(file)
    for row in reader:
        print(row)

In [ ]:
try:
    with open('nonexistent.txt', 'r') as file:
        content = file.read()
except FileNotFoundError:
    print("File not found.")

OS library

"Miscellaneous operating system interfaces"

In [ ]:
import os # operating system dependent functionality

# List directory content
print(os.listdir('.'))

In [14]:
# Change directory
os.chdir('./')

In [ ]:
# Get current directory
current_dir = os.getcwd()
print(current_dir)

In [16]:
# Join paths
path = os.path.join(current_dir, 'people.csv')

In [ ]:
path

## Error and Exception Handling in Python

In [ ]:
# 1. Basic Try/Except Block
# Handling exceptions with try and except.

try:
    result = 10 / 0
except ZeroDivisionError:
    print("You can't divide by zero!")

In [ ]:
# 2. Handling Multiple Exceptions
# Catching different exception types.
    
try:
    result = 10 / 0
except (TypeError, ZeroDivisionError) as e:
    print(f"An error occurred: {str(e)}")

In [ ]:
# 3. Else and Finally Clauses
# else: Runs when no exception is raised in the try block.
# finally: Always runs, whether an exception is raised or not.

try:
    result = 10 / 0
except ZeroDivisionError:
    print("You can't divide by zero!")
else:
    print(f"Division successful! The result is {result}")
finally:
    print("This block will run no matter what.")

In [ ]:
class CustomError(Exception):
    pass

try:
    raise CustomError("This is a custom exception")
except CustomError as e:
    print(f"A CustomError occurred: {str(e)}")

In [ ]:
# 5. Assertion and the Assert Statement
# Using assert to automatically trigger an exception when a condition is not met.

x = -1
assert x >= 0, "Only non-negative numbers are allowed!"

In [ ]:
# 6. Handling Exceptions in Functions
# Creating functions that handle exceptions.
# python
def safe_divide(a, b):
    try:
        return a / b
    except ZeroDivisionError:
        print("Can't divide by zero!")
        return None

result = safe_divide(10, 0)

In [ ]:
# 7. Raising Exceptions
# Using raise to trigger an exception.

def validate_age(age):
    if age < 0:
        raise ValueError("Age cannot be negative")

try:
    validate_age(-1)
except ValueError as e:
    print(f"Validation failed: {str(e)}")

In [ ]:
# 8. Chaining Exceptions
# Using from with raise to chain exceptions and maintain tracebacks.

def example():
    try:
        int("not_a_number")
    except ValueError as e:
        raise RuntimeError("A parsing error occurred") from e

try:
    example()
except RuntimeError as e:
    print(f"An error occurred: {str(e)}")
    print(f"Due to: {str(e.__cause__)}")

## simple data pipeline

In [27]:
# read the data, calculate and display average age
def read_data(file_path):
    data = []
    with open(file_path, 'r') as file:
        next(file) # skipping first line as it is header
        for line in file:
            name, age = line.strip().split(',')
            data.append((name, int(age)))
    return data

def calculate_average_age(data):
    total_age = sum(age for _, age in data)
    average_age = total_age / len(data)
    return average_age

def display_average_age(average_age):
    print(f"The average age is: {average_age:.2f}")

def main(file_path):
    data = read_data(file_path)
    average_age = calculate_average_age(data)
    display_average_age(average_age)

In [ ]:
main(path)