## Seminar II: Numpy
October 14, 2025
_______________________

In [ ]:
# install requirements if needed

# !pip install numpy matplotlib pandas

In [50]:
import numpy as np
import matplotlib.pyplot as plt

### Exercise 1 — Simulate a 1D array of simulated daily temperatures
* Use normal distribution with `mean = 15` and `sd = 25`
* Simulate 28 days of daily temperatures
* Save as temps object
* Convert the from Celsius to Fahrenheit and save as temps_fahrenheit
$$fahrenheit = 1.8 * celsius + 32$$

#### Print shape and dtype of temps

#### Reshape temps so that it consists of 4 rows (weeks) and 7 columns (days of week)

####  Use slicing to display
* all Wednesday values (assume week starting on Monday) 
* Week #2
* 1st and 3rd week

* verify that all temperatures are higher than 5 degrees Celsius
* verify that all temperatures are lower than 30 degrees Celsius

#### Print mean temperatures 
* Overall in Celsius and Fahrenheit
* For each day in Celsius
* For each week in Celsius

#### Plot both temperature series into 1 plot

### Exercise 2 - Simulate 2D array of artificial stock returns
* Simulate 1 year of data (252 observations) and 5 stocks
* Simulate from normal distribution with the defined means and standard deviations
* Compute sample mean and standard deviation for each of the assets

#### Compute the correlation for each of the asset pairs

#### Extract
* returns of the 2nd asset for Wednesdays (assume each week has 5 days and the sample starts Monday)
* all returns of stocks 1 and 4

#### Identify days where average return across assets is greater than 0

#### Plot the returns
* Plot the time series of raw returns
* Assume that you make an initial investment of 1 USD. Compute and plot the evolution of such investment for each asset.

#### Plot histogram of returns for asset 2

---
### Exercise 3 — 3D array (image)

First we will load the image into a 3D array

* Verify that all values are lower or equal than 1
* Find the range of realized values

In [ ]:
# Verify that all the values are lower than 1

#### Remove each of the primary colors
* Create a copy of img and save it as img2
* Set all the values for `Red` to 0 and display the image
* Set all the values for `Green` to 0 and display the image
* Set all the values for `Blue` to 0 and display the image

In [ ]:
# remove red

In [ ]:
# remove green

In [ ]:
# remove blue

#### Invert the grayscale of the image
* What was white should be black, etc.

In [ ]:
inverted = img.copy()

#### Add Gaussian noise to the picture
* Create an np.array from normal distribution with `mean = 0` and `sd = 0.1` of shape (1024, 1280, 3), and add it to the RGB colors
* employ clipping of the values to the interval `[0, 1]`

In [ ]:
noisy = img.copy()

#### Flip the image horizontally

* You can use np.flip()
* Keep the `A` values

#### Flatten the image and then reconstruct it

#### Bonus: create a checkerboard mask to selectively white every other 8×8 block.

In [ ]:
h, w, _ = img.shape
block = 8 

# Compute how many 8×8 blocks fit in each dimension
h_blocks = h // block
w_blocks = w // block

# Create a checkerboard pattern using addition mod 2
checker = (np.add.outer(np.arange(h_blocks), np.arange(w_blocks)) % 2).astype(bool)
mask = np.kron(checker, np.ones((block, block), dtype=bool))

# Apply mask: zero every other block
checker_img = img.copy()
checker_img[~mask] = 1  # zero RGBA pixels in the masked-out blocks

plt.imshow(checker_img)
plt.title("Checkerboard Mask (8×8 Blocks)")
plt.axis("off")
plt.show()